// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

// About us section

@media screen and (min-width:1025px){
    #AboutUs {
        gap: 50px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        height: min-content;
        margin-bottom: 50px;
      
        .AboutUsText {
          border-radius: 20px;
          flex: 2;
          box-shadow: 4px 4px 4px 4px rgb(175, 175, 175);
          background-color: $primary_color;
          color: #fff;
          .title {
            font-style: italic;
                p {
                font-size: 30px;
                }
            }
      
          p {
            margin-left: 50px;
            margin-right: 50px;
            justify-content: center;
            font-weight: bold;
            font-size: large;
            word-spacing: 3px;
          }
      
          .request_quotation {
            background-color: $second_color;
            width: fit-content;
            float: right;
            margin-right: 100px;
            padding: 10px 10px 10px 10px;
            border-style: ridge;
            border-color: beige;
            margin-bottom: 20px;
          }
      
          + div {
            flex: 1.5;
            background-color: blue;
          }
      
        }
      }
    
    // Experience section
    
    #Experience {
        gap: 50px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        height: min-content;
        margin-bottom: 50px;
      
        .ExperiencePicture {
          flex: 2;
          background-color: blue;
        }
      
        .ExperienceText {
          border-radius: 20px;
          flex: 1.5;
          box-shadow: 4px 4px 4px 4px rgb(175, 175, 175);
          background-color: $primary_color;
          color: #fff;
    
          .title {
            font-style: italic;
            p {
              font-size: 30px;
            }
          }
      
          p {
            margin-left: 50px;
            margin-right: 50px;
            justify-content: center;
            font-weight: bold;
            font-size: large;
            word-spacing: 3px;
          }
      
          .request_quotation {
            background-color: $second_color;
            width: fit-content;
            float: right;
            margin-right: 100px;
            padding: 10px 10px 10px 10px;
            border-style: ridge;
            border-color: beige;
            margin-bottom: 20px;
          }
      
        }
      }
    }