#form{

    display: none;
    background: rgb(96, 96, 96);
    border: 3px ridge;
    border-radius: 40px;
    text-align: center;
    max-width: 600px;
    //position in the center:
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    form{
      padding: 30px;

      .select-country-state{
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 50px 50px;
        grid-template-columns: 150px 150px;
        row-gap: 15px;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 20px;

        select{
          max-width:150px;
          margin-top: 10px;
        }
          
      }

      input{
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      select{
        padding: 10px;
      }

      input:focus{
        outline: none;
      }

      button{
        padding: 6px 15px;
        border-radius: 10px;
        font-family: $content_font;
        font-size: medium;
      }
    }
    
}



