/* Default css styling */
html, body {
  margin: 0%;
}

html {
  overflow-y: scroll;
}

body {
  position: absolute;
  font-family: Spartan, sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #B4B9BC;
}

.title {
  font-family: "Roboto", sans-serif;
}

button {
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

select {
  margin: 0px;
}

#form {
  display: none;
  background: rgb(96, 96, 96);
  border: 3px ridge;
  border-radius: 40px;
  text-align: center;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#form form {
  padding: 30px;
}
#form form .select-country-state {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 50px 50px;
  grid-template-columns: 150px 150px;
  row-gap: 15px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
#form form .select-country-state select {
  max-width: 150px;
  margin-top: 10px;
}
#form form input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#form form select {
  padding: 10px;
}
#form form input:focus {
  outline: none;
}
#form form button {
  padding: 6px 15px;
  border-radius: 10px;
  font-family: Spartan, sans-serif;
  font-size: medium;
}

@media only screen and (max-width: 1025px) and (min-width: 480px) {
  #AboutUs {
    flex-direction: column;
  }
  #Experience {
    flex-direction: column;
  }
  #Experience .ExperiencePicture {
    height: 400px;
  }
}
@media screen and (min-width: 1025px) {
  #AboutUs {
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    height: -moz-min-content;
    height: min-content;
    margin-bottom: 50px;
  }
  #AboutUs .AboutUsText {
    border-radius: 20px;
    flex: 2;
    box-shadow: 4px 4px 4px 4px rgb(175, 175, 175);
    background-color: #343a40;
    color: #fff;
  }
  #AboutUs .AboutUsText .title {
    font-style: italic;
  }
  #AboutUs .AboutUsText .title p {
    font-size: 30px;
  }
  #AboutUs .AboutUsText p {
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    word-spacing: 3px;
  }
  #AboutUs .AboutUsText .request_quotation {
    background-color: rgba(0, 97, 255, 0.7490196078);
    width: -moz-fit-content;
    width: fit-content;
    float: right;
    margin-right: 100px;
    padding: 10px 10px 10px 10px;
    border-style: ridge;
    border-color: beige;
    margin-bottom: 20px;
  }
  #AboutUs .AboutUsText + div {
    flex: 1.5;
    background-color: blue;
  }
  #Experience {
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    height: -moz-min-content;
    height: min-content;
    margin-bottom: 50px;
  }
  #Experience .ExperiencePicture {
    flex: 2;
    background-color: blue;
  }
  #Experience .ExperienceText {
    border-radius: 20px;
    flex: 1.5;
    box-shadow: 4px 4px 4px 4px rgb(175, 175, 175);
    background-color: #343a40;
    color: #fff;
  }
  #Experience .ExperienceText .title {
    font-style: italic;
  }
  #Experience .ExperienceText .title p {
    font-size: 30px;
  }
  #Experience .ExperienceText p {
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    word-spacing: 3px;
  }
  #Experience .ExperienceText .request_quotation {
    background-color: rgba(0, 97, 255, 0.7490196078);
    width: -moz-fit-content;
    width: fit-content;
    float: right;
    margin-right: 100px;
    padding: 10px 10px 10px 10px;
    border-style: ridge;
    border-color: beige;
    margin-bottom: 20px;
  }
}
/* For all the navbar */
.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343a40;
}
.Navbar div {
  width: 60px;
  height: 70px;
  flex: 1;
}

/* FOR THE LEFT SIDE OF NAVBAR */
.Navbar.left div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navbar.left a {
  font-size: 20px;
}

#Intro {
  padding-top: 100px;
  padding-bottom: 100px;
}
#Intro h1 {
  text-align: center;
  font-size: 48px;
}

/* The path for check */
.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  margin-right: 8px;
  color: #00d18a;
}

#Intro div div {
  display: flex;
  justify-content: center;
  margin-right: 40px;
}
#Intro div div div.qualities {
  padding: 4px 16px 4px 12px;
  color: #fff;
  border-radius: 24px;
  background: rgba(0, 97, 255, 0.7490196078);
  font-weight: 700;
  display: inline-flex;
}
#Intro div div:last-child {
  margin-right: 0;
}

#AboutUs {
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 50px;
}
#AboutUs .AboutUsText {
  border-radius: 20px;
  flex: 2;
  box-shadow: 4px 4px 4px 4px rgb(175, 175, 175);
  background-color: #343a40;
  color: #fff;
}
#AboutUs .AboutUsText .title {
  font-style: italic;
}
#AboutUs .AboutUsText .title p {
  font-size: 30px;
}
#AboutUs .AboutUsText p {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  font-weight: bold;
  font-size: large;
  word-spacing: 3px;
}
#AboutUs .AboutUsText .request_quotation {
  background-color: rgba(0, 97, 255, 0.7490196078);
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  margin-right: 100px;
  padding: 10px 10px 10px 10px;
  border-style: ridge;
  border-color: beige;
  margin-bottom: 20px;
}
#AboutUs .AboutUsText .request_quotation button {
  background-color: rgba(0, 97, 255, 0.7490196078);
  color: white;
  font-weight: bold;
  font-size: medium;
  font-family: Spartan, sans-serif;
}
#AboutUs .AboutUsText + div {
  flex: 1.5;
  background-color: blue;
}

#Experience {
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 50px;
}
#Experience .ExperiencePicture {
  flex: 2;
  background-color: blue;
}
#Experience .ExperienceText {
  border-radius: 20px;
  flex: 1.5;
  box-shadow: 4px 4px 4px 4px rgb(175, 175, 175);
  background-color: #343a40;
  color: #fff;
}
#Experience .ExperienceText .title {
  font-style: italic;
}
#Experience .ExperienceText .title p {
  font-size: 30px;
}
#Experience .ExperienceText p {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  font-weight: bold;
  font-size: large;
  word-spacing: 3px;
}
#Experience .ExperienceText .request_quotation {
  background-color: rgba(0, 97, 255, 0.7490196078);
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  margin-right: 100px;
  padding: 10px 10px 10px 10px;
  border-style: ridge;
  border-color: beige;
  margin-bottom: 20px;
}
#Experience .ExperienceText .request_quotation button {
  background-color: rgba(0, 97, 255, 0.7490196078);
  color: white;
  font-weight: bold;
  font-size: medium;
  font-family: Spartan, sans-serif;
}

#footer {
  height: 300px;
  width: 100%;
  background-color: #343a40;
  display: flex;
  color: white;
}
#footer .second {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#footer .first, #footer .second, #footer .third {
  flex: 1;
  margin: 20px 20px 20px 20px;
}
#footer .third {
  text-align: center;
}
#footer .third .title {
  padding-bottom: 20px;
}/*# sourceMappingURL=styles.css.map */