/* Default css styling */

@import "fonts";
@import "colors";
@import "global";

@import "form";

@import "tablet";
@import "desktop";

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

/* For all the navbar */
.Navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $primary_color;

    div{
        width: 60px;
        height: 70px;
        flex: 1;
    }
}

/* FOR THE LEFT SIDE OF NAVBAR */

.Navbar.left {
    div{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    a{
        font-size: 20px;
    }
}

// The second section of the website after navbar

#Intro{
   
    padding-top: 100px;
    padding-bottom: 100px;
    
    h1{
        text-align:center;
        font-size:48px;
    }
}


/* The path for check */
.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    margin-right: 8px;
    color: #00d18a;
}

#Intro {
    div {
      div {
        display: flex;
        justify-content: center;
        margin-right: 40px;
  
            div.qualities {
            padding: 4px 16px 4px 12px;
            color: #fff;
            border-radius: 24px;
            background: $second_color;
            font-weight: 700;
            display: inline-flex;
            }
      }

      div:last-child{
        margin-right: 0;
      }
    }
  }

// About us section

#AboutUs {
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    height: min-content;
    margin-bottom: 50px;
  
    .AboutUsText {
      border-radius: 20px;
      flex: 2;
      box-shadow: 4px 4px 4px 4px rgb(175, 175, 175);
      background-color: $primary_color;
      color: #fff;
  
      .title {
        font-style: italic;
            p {
            font-size: 30px;
            }
        }
  
      p {
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
        font-weight: bold;
        font-size: large;
        word-spacing: 3px;
      }
  
      .request_quotation {
        background-color: $second_color;
        width: fit-content;
        float: right;
        margin-right: 100px;
        padding: 10px 10px 10px 10px;
        border-style: ridge;
        border-color: beige;
        margin-bottom: 20px;
         
        button{
          background-color: $second_color;
          color:white;
          font-weight: bold;
          font-size: medium;
          font-family: $content_font;
        }
      
        //the form is in the _form.scss file
      }

      + div {
        flex: 1.5;
        background-color: blue;
      }
  
    }
  }

// Experience section

#Experience {
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    height: min-content;
    margin-bottom: 50px;
  
    .ExperiencePicture {
      flex: 2;
      background-color: blue;
    }
  
    .ExperienceText {
      border-radius: 20px;
      flex: 1.5;
      box-shadow: 4px 4px 4px 4px rgb(175, 175, 175);
      background-color: $primary_color;
      color: #fff;

      .title {
        font-style: italic;
        p {
          font-size: 30px;
        }
      }
  
      p {
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
        font-weight: bold;
        font-size: large;
        word-spacing: 3px;
      }
  
      .request_quotation {
        background-color: $second_color;
        width: fit-content;
        float: right;
        margin-right: 100px;
        padding: 10px 10px 10px 10px;
        border-style: ridge;
        border-color: beige;
        margin-bottom: 20px;

        button{
          background-color: $second_color;
          color:white;
          font-weight: bold;
          font-size: medium;
          font-family: $content_font;
        }
      }
       //the form is in the _form.scss file
    }
  }
  

// Footer:

#footer{
    height: 300px;
    width: 100%;
    background-color: $primary_color;
    display: flex;
    color: white;

    .second{
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    .first, .second, .third{
      flex: 1;
      margin: 20px 20px 20px 20px;
  }
  
  .third{
      text-align: center;
  
      .title{
          padding-bottom: 20px;
      }
  }
  
}

